body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;

    .branding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 50%;

        .logo {
            font-size: 5rem;
            color: $navColor;
            flex-basis: 10%;
        }

        a {
            color: $backgroundColor;
            font-weight: 700;
            background-color: none;
            display: flex;
            flex-basis: 80%;
        }    
    }

    .devPage {
        color: $backgroundColor;
        font-weight: 700;
        font-size: 2rem;
        background-color: $navColor;
        padding: 15px;
        flex-basis: 45%;
    }
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 250px;
    height: 350px;
    display: block;
    border: 3px solid $styleFontColor;
    object-fit: cover;
}

button {
    color: $backgroundColor;
    background-color: $styleFontColor;
    border: 2px solid $backgroundColor;
    padding: 10px;
    letter-spacing: 1px;
    margin-top: 0px;

    &:focus,
    &:active,
    &:hover {
        color: $styleFontColor;
        background-color: $backgroundColor;
        border: 2px solid $styleFontColor;
        cursor: pointer;
    }
}

.btnDisappear {
    display: none;
    border: none;
}

.btnAppear {
    display: block;
    border: 2px solid $styleFontColor;
}

.footerParent {
    margin-top: 15px;
}

