body {
    height: 100vh;
    margin: 0;
    padding: 0;
}


.navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;

    .logo {
        font-size: 5rem;
        color: $correctAnswerColor;
    }

    a {
        color: $backgroundColor;
        font-weight: 700;
    }

    .devPage {
        font-size: 2rem;
        background-color: $correctAnswerColor;
        padding: 15px;

    }
}


.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 250px;
    height: 350px;
    display: block;
    border: 3px solid $correctAnswerColor;
    object-fit: cover;
}

button {
    color: $backgroundColor;
    background-color: $styleFontColor;
    border: 2px solid $backgroundColor;
    padding: 10px;
    letter-spacing: 1px;
    margin-top: 0px;

    &:focus,
    &:active,
    &:hover {
        color: $styleFontColor;
        background-color: $backgroundColor;
        border: 2px solid $styleFontColor;
        cursor: pointer;
    }
}

.btnDisappear {
    display: none;
    border: none;
}

.btnAppear {
    display: block;
    border: 2px solid $styleFontColor;
}

.footerParent {
    // margin-top: 5%;
    margin-top: 15px;
}

