.developers {
    display: flex;
    justify-content: space-between;

    article {
        flex-basis: 45%;

        .social {
            display: flex;
            justify-content: center;

            a {
                margin: 0 10px 15px 10px;
            }
        }
    }
}

.theo,
.elle {
    padding-top: 15px;
    
    h3 {
        margin-bottom: 0;
    }
    
    p,
    p {
        background: $textBackgroundColor;
        padding: 30px;
        height: 80%;
        margin-bottom: 25%;
    }
}