.homeParent {
    background-color: $textBackgroundColor;
    margin-top: 25px;
    padding-bottom: 25px;
}

.quizInstructions {
    background-color: $textBackgroundColor;
    padding: 15px;

    form {
        display: flex;
        justify-content: center;
    }
}



