
@media (max-width: 900px) {
    h2 {
        margin: 0;
    }

    .quizChild {
        flex-direction: column;
        margin: 0 auto;

        img {
            max-height: 400px;
            max-width: 300px;
            margin: 0 auto;
        }

        .quizOptions {
            margin-top: 15px;
            .quizChoices {
                margin-left: 0;
            }            
        }
    }

    .developers {
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
    }


    .navBar {

        .branding {
            width: 90%;
            justify-content: space-evenly;

            .logo {
                // font-size: 3rem;
                // color: $navColor;
                display: none;
            }

            a {
                color: $backgroundColor;
                font-weight: 700;

                h1 {
                font-size: 2rem;
                margin-right: 0;
                line-height: 2.25rem;
                text-align: center;
                }
            }
        }

        .devPage {
            font-size: 1.5rem;
            line-height: 2rem;
            background-color: $navColor;
            padding: 2px;
        }
    }

    .userName {
        margin: 10px;
    }



    h2 {
        font-size: 3.5rem;
        line-height: 4rem;
        letter-spacing: 2.5px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .quizChild {
        img {
            width: 150px;
            height: 200px;
        }

        .quizOptions {
            .quizChoices {
                font-size: 2rem;
                line-height: 3rem;
                justify-content: center;

                label {
                    margin: 0 0 5px 5px;
                    width: 50%;
                }
            }

            .textConfirmation {
                margin-left: 0;
            }
        }
    }
}