
@media (max-width: 900px) {
    h2 {
        margin: 0;
    }

    .quizChild {
        flex-direction: column;
        margin: 0 auto;

        img {
            max-height: 400px;
            max-width: 300px;
            margin: 0 auto;
        }

        .quizOptions {
            margin-top: 15px;
            .quizChoices {
                margin-left: 0;
            }            
        }
    }

        

    .developers {
        flex-direction: column;
    }
}