html {
    font-size: 62.5%;
}

body {
    font-family: $mainFont;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 2px;
    color: $mainFontColor;
    background-color: $backgroundColor;
    text-align: center;
}

a,
label .userName {
    text-decoration: none;
    font-family: $mainFont;
    color: $mainFontColor;
}

input {
    color: $backgroundColor;
}

.skipLink {
    position: absolute;
    left: -500px;
    top: 0px;
    z-index: 90;
    background-color: $mainFontColor;
    color: $styleFontColor;
}

.skipLink:focus {
    left: 0;
}

h1 {
    color: $correctAnswerColor;
    text-transform: uppercase;
    font-size: 3rem;
    margin-right: 20%;
}

h2 {
    font-family: $styleFont;
    font-size: 6rem;
    line-height: 7rem;
    color: $styleFontColor;
    text-align: center;
    padding-top: 25px;
    margin: 0;
}

h3,
h4 {
    font-family: $mainFont;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
}

h4 {
    color: $styleFontColor;
    margin: 15px 0;
}

h5 {
    font-family: $mainFont;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
}

.footerParent a,
.footerParent p {
    font-size: 1.5rem;
    line-height: 3rem;
}