$styleFont: 'Bungee Shade', cursive; // h1
$mainFont: 'Roboto', sans-serif; // h2 + h3 = fw 700 | button + a = fw 400 | p = fw 300

$backgroundColor: #2a0a4f;
$styleFontColor: #eeab41;
$mainFontColor: linen;
$correctAnswerColor: #ee693a;
$wrongAnswerColor: #573c4e;
$textBackgroundColor: #471f6a;