$styleFont: 'Bangers', cursive; 
$mainFont: 'Roboto', sans-serif; 

$backgroundColor: #02111d;
$styleFontColor: #F0A500;
$mainFontColor: linen;
$correctAnswerColor: #334756;
$navColor: #F0A500;
$textBackgroundColor: #082032;