html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: 2px;
  color: linen;
  background-color: #2a0a4f;
  text-align: center;
}

a,
label .userName {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: linen;
}

input {
  color: #2a0a4f;
}

.skipLink {
  position: absolute;
  left: -500px;
  top: 0px;
  z-index: 90;
  background-color: linen;
  color: #eeab41;
}

.skipLink:focus {
  left: 0;
}

h1 {
  color: #ee693a;
  text-transform: uppercase;
  font-size: 3rem;
  margin-right: 20%;
}

h2 {
  font-family: "Bungee Shade", cursive;
  font-size: 6rem;
  line-height: 7rem;
  color: #eeab41;
  text-align: center;
  padding-top: 25px;
  margin: 0;
}

h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
}

h4 {
  color: #eeab41;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
}

.footerParent a,
.footerParent p {
  font-size: 1.5rem;
  line-height: 3rem;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .logo {
  font-size: 5rem;
  color: #ee693a;
}
.navBar a {
  color: #2a0a4f;
  font-weight: 700;
}
.navBar .devPage {
  font-size: 2rem;
  background-color: #ee693a;
  padding: 15px;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border: 3px solid #ee693a;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  color: #2a0a4f;
  background-color: #eeab41;
  border: 2px solid #2a0a4f;
  padding: 10px;
  letter-spacing: 1px;
  margin-top: 8%;
}
button:focus, button:active, button:hover {
  color: #eeab41;
  background-color: #2a0a4f;
  border: 2px solid #eeab41;
  cursor: pointer;
}

.footerParent {
  margin-top: 15%;
}

.quizInstructions {
  background-color: #471f6a;
  padding: 15px;
}
.quizInstructions form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quizParent {
  background: #471f6a;
  padding: 25px;
}

.quizChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0;
}
.quizChild .moviePoster {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.quizChild .quizOptions {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
}
.quizChild .quizOptions .quizChoices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 100px;
  font-size: 2.5rem;
  line-height: 4rem;
}
.quizChild .quizOptions .quizChoices label {
  display: inline-block;
  background-color: #ee693a;
  margin: 0 10px 15px 15px;
  width: 100%;
  text-align: left;
  padding-left: 15px;
}
.quizChild .quizOptions .quizChoices label.correctAnswer {
  background-color: #eeab41;
}
.quizChild .quizOptions .submitOptions {
  margin: 50px 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nextQuestion {
  position: absolute;
  bottom: 100px;
  right: 0px;
}

.developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.developers article {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.developers article .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.developers article .social a {
  margin: 0 10px 15px 10px;
}

.theo,
.elle {
  padding-top: 15px;
}
.theo h3,
.elle h3 {
  margin-bottom: 0;
}
.theo p,
.theo p,
.elle p,
.elle p {
  background: #471f6a;
  padding: 30px;
  height: 80%;
  margin-bottom: 25%;
}

@media (max-width: 100vw) {
  #nextQuestion {
    position: absolute;
    bottom: -50px;
    right: 350px;
  }
}
@media (max-width: 900px) {
  h2 {
    margin: 0;
  }

  #nextQuestion {
    position: revert;
  }

  .quizChild {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .quizChild img {
    max-height: 400px;
    max-width: 300px;
    margin: 0 auto;
  }
  .quizChild .quizOptions {
    margin-top: 5%;
  }
  .quizChild .quizOptions .quizChoices {
    margin-left: 0;
  }
}